{% extends "base.html" %}
{% block content %}
 <h1>Check Vacation Availability</h1>

 <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.week.label }}<br>
            {{ form.week(size=32) }}<br>
            {% for error in form.week.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>
            {{ form.user.label }}<br>
            {{ form.user(size=32) }}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{{ show.user, show.week }}
 {% endblock %}

